 .nav-bar{
      position:fixed;
      width:100%;
      height:1.3rem;
      line-height:1.3rem;
      font-size:.5rem;
      font-weight:700;
      text-align: center;
      border-bottom:1px solid #ccc;
      margin-bottom:1px;
      z-index:999;
      top:0;
      background-color:#fff;
    }


 .back-nav-bar{
      position:fixed;
      backgorund-color:#fff;
      width:100%;
      height:1.3rem;
      line-height:1.3rem;
      font-size:.5rem;
      font-weight:400;
      text-align: center;
      @include border-1px;
      border-bottom:1px solid #ccc;
      margin-bottom:1px;
      .nav-container{
            position:relative;
            .icon-huitui {
                  margin-right:200px;
                  position:absolute;
                  font-weight:900;
                  font-size:.5rem;
                  color:#000;
                  left:10px;
            }
      }
      
    }

    .mint-tab-item{
        text-decoration: none;
        font-size:20px !important;
     }
